html{
  color: #F7C51E;
  font-family: STSong;
}
a{
  text-decoration: none;
}

ul{
  list-style: none;
}

body{
  background-color: #000000;
}

p{
  font-family: none;
}

header{
  width: 100%;
}

.nav{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 60px;
}

.icon{
  padding-left: 50px;
}
.icon img{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;

}

.nav{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 40px;
}

.nav p{
  font-size: 10px;
}

.nav ul{
  list-style: none;
}

.nav ul li{

  font-size: 16px;
  float: left;
  margin: 10px 80px;
  padding-left: 70px;


}
.nav a{
  color: #F7C51E;
}

.nav a:hover{
  color: #fff;

}
.header-container{
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  z-index: 10;
  width: 100%;
}


.reservation{
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #F7C51E;
  color: #F7C51E;
  width: 200px;
  height: 47px;
  margin: 0 auto;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.reservation a{
  color: #F7C51E;
}

.reservation a:hover{
  color: white;
}
#header{
  background-image: url(../img/ANAMIcounter1.jpg);
  background-size: cover;
  display: block;
  margin: 0 auto;
  width: 1040px;
  height: 580px;
  position: relative;
}

.box{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  display: block;
  width: 570px;
  height: 580px;
}

.shopabout{
  color: #ffffff;
  text-align: left;
  position: inherit;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.shopabout h1{
  font-size: 35px;
  padding-bottom: 30px;
}

.shopabout p{
  padding-bottom: 10px;
}

main{
  background-color: #909090;
  display: block;
  width: 1040px;
  margin: 0 auto;
}
#menu{
background-color: #909090;
padding-top: 100px;
}

.menuTxt h2{
  padding-right: 100px;
}

.menuname {
    font-size: 35px;
    background: none;
    position: relative;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menuname::before {
    border-top: 1px solid #F7C51E;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.menuname span {
    background-color: #909090;
    display: inline-block;
    padding: 0 1em;
    position: relative;
}
.subtitle{
  text-align: center;
  margin-bottom: 40px;
}


.menuname p{
  text-align: center;
  padding-bottom: 0;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.menuTxt{
  padding-bottom: 10px;
}
.menuTxt h2{
  font-size: 25px;
  padding-bottom: 30px;
  padding-right: 60px;
}

dt{
  font-family: none;
  width: 380px;
  float: left;
  text-align: left;
  margin-left: 50px;
  font-size: 14px;
  padding-bottom: 10px;
}

dd{
  font-family: none;
  width: 60px;
  float: left;
  font-size: 14px;
  padding-bottom: 10px;

}

.foodimg{
  padding-bottom: 180px;
  padding-right: 50px;
  padding-top: 50px;
}

.foodimg img{
  display: block;
  width: 800px;
  height: 300px;
}

.container2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.drinkimg{
  width: 400px;
  padding-left: 50px;
  padding-bottom: 160px;
}

.drinkimg img{
  display: block;
  width: 800px;
  height: 400px;

}

.menuTxt2{
  width: 500px;
  padding-right: 30px;
  padding-bottom: 90px;
}

.menuTxt2 h2{
  font-size: 25px;
  padding-bottom: 30px;
  padding-left: 20px;
  text-align: center;
}



.weight{
  font-size: 16px;
}

#interior{
  padding-top: 100px;
}

.interiorname {
    font-size: 35px;
    background: none;
    position: relative;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.interiorname::before {
    border-top: 1px solid #F7C51E;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.interiorname span {
    background-color: #909090;
    display: inline-block;
    padding: 0 1em;
    position: relative;
}

#interior img{
  display: block;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  text-align: center;

}
.slider{

    margin: 0 auto;
    width: 100%;
}

#information{
  padding-top: 100px;
}




.informationname {
    font-size: 35px;
    background: none;
    position: relative;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.informationname::before {
    border-top: 1px solid #F7C51E;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.informationname span {
    background-color: #909090;
    display: inline-block;
    padding: 0 1em;
    position: relative;
}

.facebook{
  padding-left: 50px;
  padding-bottom: 65px;
}

.map{
  padding-top: 50px;
  padding-bottom: 170px;
  padding-right: 50px;
}

.map p{
  color: #ffffff;
  text-align: left;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.subinfo{
  margin-left: 80px;

}

.container3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0px;
}

.ANAMfi{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer1img{
  width: 124px;
  height: 100px;
  padding-left: 200px;
  padding-top: 20px;
}

.footer1info p{
  color: #ffffff;
  font-size: 11px;
  padding-left: 30px;
  text-align: left;
  padding-bottom: 10px;
}

.facebook2{
  width: 40px;
  height: 40px;
  padding-right: 50px;
}
.footname{
  font-size: 20px;
}

.tabelog{
  width: 40px;
  height: 40px;
  padding-right: 210px;
}

.copyright{
  padding-left: 200px;
  padding-top: 100px;

}

.copyright p{
  font-family: STSong;
}

  @media screen and (max-width: 480px){
    html{
    color: #F7C51E;
    font-family: STSong;
  }

  a{
    text-decoration: none;
  }

  body{
    background-color: #000000;
  }

  p{
    font-size: 7px;
    font-family: none;
  }

  .font{
    font-family: none;
  }
  .nav{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 40px;
  }

  .nav p{
    font-size: 10px;
  }

  .nav ul{
    list-style: none;
  }

  .nav ul li{

    font-size: 4px;
    float: left;
    margin: 10px 10px;
    padding-left: 0px;


  }


  .nav a{
    color: #F7C51E;
  }

  .nav a:hover{
    color: #fff;

  }




  .header-container{
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    z-index: 10;
  }

  .icon{
    padding-left: 5px;
  }
  .icon img{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50px;

  }


  .reservation{
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #F7C51E;
    color: #F7C51E;
    /* display: inline-block; */
    width: 140px;
    height: 40px;
    /* margin: 0 auto; */
    float: right;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reservation a{
    color: #F7C51E;
  }

  .reservation a:hover{
    color: #fff;
  }
  #header{
    background-image: url(../img/ANAMIcounter1.jpg);
    background-size: cover;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    position: relative;
  }

  .box{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    display: block;
    width: 60%;
    height: 300px;
  }

  .shopabout{
    color: #ffffff;
    text-align: left;
    position: inherit;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .shopabout h1{
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 40px;

  }

  .shopabout p{
    padding-bottom: 15px;
  }




  main{
    background-color: #909090;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  #menu{
    background-color: #909090;
    padding-top: 50px;

  }

  .menuname {
      font-size: 20px;
      background: none;
      position: relative;
      text-align: center;
      width: 160px;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 10px;
  }

  .menuname p{
    padding-bottom: 0px;
  }

  .subtitle{
    text-align: center;
    margin-bottom: 20px;
  }

  .menuname::before {
      border-top: 1px solid #F7C51E;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
  }

  .menuname span {
      background-color: #909090;
      display: inline-block;
      padding: 0 1em;
      position: relative;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .menuTxt{
    width: 400px;
    padding-bottom: 20px;
    padding-left: 10px;
  }
  .menuTxt h2{
    font-size: 15px;
    padding-bottom: 40px;
    padding-left: 50px;
    text-align: center;

  }

  dt{
    font-family: none;
    width: 150px;

    text-align: left;
    margin-left: 40px;
    font-size: 7px;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  dd{
    font-family: none;
    width: 140px;
    float: right;
    font-size: 7px;
    padding-bottom: 10px;
    padding-right:　0px;
    padding-left: 20px;

  }

  .foodimg{
    width: 100%;
    padding-bottom: 40px;
    padding-right: 0px;
    padding-top: 50px;
  }

  .foodimg img{
    display: block;
    width: 100%;
    height: 200px;
  }

  .container2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
  }

  .drinkimg img{
    display: block;
    width: 100%;
    height: 200px;
  }

  .drinkimg{
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 0px;
  }
  .menuTxt2{
    width: 400px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .menuTxt2 h2{
    font-size: 15px;
    padding-bottom: 30px;
    padding-right: 0px;
  }

  .menuTxt2 dt{
    font-family: none;
    width: 280px;
    text-align: left;
    margin-left: 50px;
    font-size: 7px;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  .menuTxt2 dd{
    font-family: none;
    width: 50px;
    float: left;
    font-size: 7px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;

  }

  .interiorname {
      font-size: 20px;
      background: none;
      position: relative;
      text-align: center;
      width: 170px;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 30px;
  }

  .interiorname::before {
      border-top: 1px solid #F7C51E;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
  }

  .interiorname span {
      background-color: #909090;
      display: inline-block;
      padding: 0 1em;
      position: relative;
  }

  #interior{
    padding-top: 50px;
    padding-bottom: 0px;
  }

  #interior img{
    display: block;
    width: 100%;
    height: 200px;
    margin: 0 auto;

  }
  .slider{

      margin: 0 auto;
      width: 100%;
  }
  #information{
    padding-top: 50px;
  }


  /*slick setting*/

  .informationname {
      font-size: 20px;
      background: none;
      position: relative;
      text-align: center;
      width: 200px;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 30px;
  }

  .informationname::before {
      border-top: 1px solid #F7C51E;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
  }

  .informationname span {
      background-color: #909090;
      display: inline-block;
      padding: 0 1em;
      position: relative;
  }

  .facebook{
    padding-left: 0px;
    padding-bottom: 100px;
  }

  .facebook iframe{
    height: 400px;
  }

  .map{
    padding-bottom:50px;
    padding-right: 0px;
  }

  .map iframe{
    width: 100%;
    height: 400px;
  }

  .map p{
    color: #ffffff;
    text-align: left;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .subinfo{
    margin-left: 50px;
    padding-bottom: 3px;

  }



  .container3{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
  }

  .ANAMfi{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer1img{
    width: 124px;
    height: 100px;
    padding-left: 0px;
    padding-top: 20px;
  }

  .footer1info p{
    width: 150px;
    color: #ffffff;
    font-size: 11px;
    padding-left: 30px;
    text-align: left;
    padding-bottom: 10px;
  }

  .footname{
    padding-top: 25px;
    font-size: 25px;
    font-family: STSong;
  }

  .link{

  }

  .facebook2{
    width: 40px;
    height: 40px;
    padding-left: 0px;
    padding-top: 30px;
  }

  .tabelog{
    width: 40px;
    height: 40px;
    padding-right: 0px;
  }

  .copyright{
    padding-left: 0px;
    padding-top: 100px;
  }

  .copyright p{
    font-family: STSong;
  }

  }
