html{
  color: #F7C51E;
  font-family: STSong;
}

body{
  background-color: #000000;
}

p{
  font-size: 15px;
  color: #ffffff;
  padding-bottom: 20px;
}

#header{
  padding: 50px 0;
  text-align: center;
}

.headername {
    font-size: 35px;
    background: none;
    position: relative;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.headername::before {
    border-top: 1px solid #F7C51E;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.headername span {
    background-color: #000000;
    display: inline-block;
    padding: 0 1em;
    position: relative;
}

.ANAMIKA{
  display: block;
  width: 1040px;
  height: 700px;
  margin: 0 auto;
}

.text{
  width: 70%;
  text-align: left;
  padding-left: 200px;
}
.copyright{
  padding-top: 100px;
  padding-left: 192px;
}

.copyright p{
  color: #F7C51E;
}

@media screen and (max-width: 480px){
  div{
    width: auto;
  }
}
